/* Resetting default browser styling */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
  font-size: large;
  background-image: url("bakcground_img.jpg");
  background-size: cover;

  .cover-image {
    width: 100%;
    height: auto;
  }


  /* Cover the entire background */
}

header {
  background-color: #6f38bc;
  text-align: center;
  padding: 40px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
  color: #fff;
  background-image: url("cover_img.jpg");
  width: .cover-image {
    width: 100%;
    height: auto;
  }


  /* Increased padding for a larger header space */



}

main {
  padding: 20px;
}

/* Enlarged and stylized title */
h1 {
  margin: 0;
  color: #fff;
  /* Changed color for better contrast */
  font-size: 4em;
  /* Enlarged the title */
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
  /* Added comic-style fonts */
  text-shadow: 2px 2px 4px #000;
  /* Added a subtle text-shadow for a pop-out effect */
}

h2 {
  color: #6f38bc;
  /* Bright color for subheadings for more appeal */
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
  
  margin-bottom: 1rem;
  /* Added some space below h2 elements */
}

.panel img {
  width: 100%
}


/* Styling for the comic panels */
.comic-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.panel {
  border: 3px solid #721c24;
  /* Increased border for emphasis */
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent background for better readability */
}

/* Dialogue styling */
.dialogue {
  margin-top: 10px;
  font-style: italic;
  color: #333;
  /* Darker text for dialogue */
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
  padding: 10px;
  /* Added padding for space around text */
  border-top: 2px solid #721c24;
  /* Added a border-top to separate dialogue from the image */
}